<div class="container my-5" style="font-family: 'Noto Serif SC', serif;">
  <style>
    .btn-create {
      font-size: 1rem;
      color: #fff;
      background-color: #27ae60;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-create:hover {
      background-color: #2ecc71;
    }

    .btn-back {
      font-size: 1rem;
      color: #fff;
      background-color: #c0392b;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-back:hover {
      background-color: #e74c3c;
    }
  </style>

  <h1 class="text-center mb-5" style="font-weight: 700; font-size: 2.5rem; color: #c0392b;">
    Colecciones de Flashcards
  </h1>

  <div *ngIf="loginService.isLogged()">
  <!-- Botón para crear nueva colección -->
    <div class="text-center mb-4">
      <button class="btn-create" (click)="formCreateCollection()">
        Crear Nueva Colección
      </button>
    </div>

    <form *ngIf="displayFormCreateCollection" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titleEnglish">Nombre de la colección</label>
        <input 
          id="name" 
          name="name" 
          type="text" 
          class="form-control" 
          [(ngModel)]="name" 
          required 
          placeholder="Ingresa el nombre de la colección">
      </div>

      <div class="text-center mt-4">
        <button style="margin-bottom: 50px;"
          class="btn-create">
          Crear
        </button>
      </div>
    </form>

    <div *ngFor="let collection of collections" class="border rounded shadow-sm mb-4 p-4" style="cursor: pointer;" [routerLink]="'/flashcards/' + collection.id">
      <div class="d-flex justify-content-between mb-2 text-muted" style="font-size: 0.9rem;">
        <!-- Aquí muestras la fecha de creación y el número de flashcards -->
        <div><strong>Creada:</strong> {{ collection.date | date: 'MMM d, yyyy' }}</div>
        <!--<div><strong>Número de Flashcards:</strong> {{ collection.flashcards?.length || 0 }}</div>-->
      </div>
      <h3 class="mb-0 text-dark fw-semibold">{{ collection.title }}</h3>
    </div>

  </div>

  <div *ngIf="!loginService.isLogged()" class="text-center my-4">
      Es necesario iniciar sesión para acceder a las colecciones de flashcards.
  </div>

  <!-- Botón volver (opcional) -->
  <div class="text-center mt-4">
    <button class="btn-back" (click)="back()">Volver</button>
  </div>
</div>
