<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="font-family: 'Noto Serif SC', serif;">
  <style>
    /* Asegúrate de agregar estos estilos en tu archivo de estilos globales o en los estilos del componente */
    .login-form-container {
      width: 100%; /* Ocupa el 100% del ancho disponible */
      max-width: 450px; /* Límite máximo del formulario, para pantallas grandes */
      padding: 20px;
      box-sizing: border-box;
      transform: translate(-50%, -50%); /* Para centrarlo en la pantalla */
    }

    @media (max-width: 480px) {
      .login-form-container {
        width: 90%; /* En pantallas pequeñas ocupará el 90% del ancho */
        max-width: none; /* Sin límite de ancho en pantallas muy pequeñas */
      }
    }

    @media (min-width: 768px) {
      .login-form-container {
        width: 100%;
        max-width: 500px; /* Si la pantalla es más grande, el formulario puede ocupar hasta 500px de ancho */
      }
    }

    @media (min-width: 992px) {
      .login-form-container {
        margin-top: 140px;
      }
    }

    /* Estilos para las banderas */
    .flag-button {
      width: 30px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
    }
  </style>

  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#" style="font-weight: 700; font-size: 1.8rem; color: #c0392b;">
      <i class="bi bi-book-half me-2" style="font-size: 1.8rem;"></i> {{ 'home' | translate}}
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#">HSK1</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#">HSK2</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#">HSK3</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#">HSK4</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#">HSK5</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#">HSK6</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-semibold" href="#" [routerLink]="'/flashcards'">Flashcards</a></li>
        <li *ngIf="loginService.isLogged() && loginService.isRoleAdmin()" class="nav-item"><a class="nav-link text-dark fw-semibold" href="#" [routerLink]="'/texts/new'">New Text</a></li>
      </ul>

      <ul *ngIf="!showLoginForm && !loginService.isLogged()" class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link btn btn-outline-danger rounded-pill px-3 py-1 fw-bold" href="#" [routerLink]="'/users/new'">
            <i class="bi bi-person-fill me-1"></i> {{ 'signup' | translate }}
          </a>
        </li>
        
        <li class="nav-item">
          <a (click)="toggleLoginForm()" class="nav-link btn btn-danger rounded-pill px-3 py-1 fw-bold">
            <i class="bi bi-box-arrow-in-right me-1"></i> {{ 'login' | translate }}
          </a>
        </li>
      </ul>

      <div *ngIf="showLoginForm && !loginService.isLogged()" class="login-form-container position-absolute top-50 start-50 translate-middle p-4 bg-light rounded-3 shadow-lg">
        <h4 class="text-center mb-3">{{ 'login' | translate }}</h4>
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email" class="form-label">{{ 'email' | translate }}</label>
            <input [(ngModel)]="loginEmail" name="email" type="email" class="form-control" id="email" [placeholder]="'Enter Your Email' | translate" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">{{ 'password' | translate }}</label>
            <input [(ngModel)]="loginPassword" name="password" type="password" class="form-control" id="password" [placeholder]="'Enter Your Password' | translate" required />
          </div>
          <div class="text-danger mb-3 text-center">
            {{ messageError | translate}}
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-danger">{{ 'login' | translate }}</button>
            <button type="button" (click)="cancelLogin()" class="btn btn-outline-secondary">{{ 'cancel' | translate }}</button>
          </div>
        </form>
      </div>

      <ul *ngIf="loginService.isLogged()" class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link btn btn-outline-danger rounded-pill px-3 py-1 fw-bold" [routerLink]="'/users/me'">
            <i class="bi bi-person-fill me-1"></i> {{ 'profile' | translate }}
          </a>
        </li>
        
        <li class="nav-item">
          <a (click)="logout()" class="nav-link btn btn-danger rounded-pill px-3 py-1 fw-bold">
            <i class="bi bi-box-arrow-in-right me-1"></i> {{ 'logout' | translate }}
          </a>
        </li>
      </ul>

      <!-- Botones de cambio de idioma -->
      <div class="d-flex ms-3">
        <img src="https://img.freepik.com/free-vector/illustration-spain-flag_53876-18168.jpg" class="flag-button" alt="Español" (click)="changeLanguage('es')" />
        <img src="https://img.freepik.com/free-vector/illustration-uk-flag_53876-18166.jpg" class="flag-button" alt="English" (click)="changeLanguage('en')" />
      </div>
    </div>
  </div>
</nav>
