<div class="container my-5" style="font-family: 'Noto Serif SC', serif;">
  <style>
    .form-label {
      font-weight: bold;
      color: #c0392b;
    }

    .form-control:disabled {
      background-color: #e9ecef;
      opacity: 1;
    }

    .btn-edit, .btn-save, .btn-cancel {
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 4px;
      margin-right: 10px;
    }

    .btn-edit {
      background-color: #f39c12;
      color: white;
      border: none;
    }

    .btn-edit:hover {
      background-color: #f1c40f;
    }

    .btn-save {
      background-color: #27ae60;
      color: white;
      border: none;
    }

    .btn-save:hover {
      background-color: #2ecc71;
    }

    .btn-cancel {
      background-color: #c0392b;
      color: white;
      border: none;
    }

    .btn-cancel:hover {
      background-color: #e74c3c;
    }

    .profile-title {
      font-weight: 700;
      font-size: 2rem;
      color: #c0392b;
    }

    .form-section {
      background-color: #f8f9fa;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn-back {
      font-size: 1rem;
      color: #fff;
      background-color: #c0392b;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-back:hover {
      background-color: #e74c3c;
    }

    .btn-edit {
      font-size: 1rem;
      color: #fff;
      background-color: #f39c12;
      border: none;
      padding: 12px 24px;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-edit:hover {
      background-color: #e67e22;
    }
  </style>

  <h1 class="text-center mb-5 profile-title">{{ 'User Profile' | translate }}</h1>

  <form class="form-section" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">{{ 'email' | translate }}</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        [disabled]="true"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">{{ 'Name' | translate }}</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        [disabled]="!editMode"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">{{ 'Current password (fill in only if you wish to change the password)' | translate }}</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="user.password"
        name="oldPassword"
        [disabled]="!editMode"
        placeholder="{{ 'Enter your current password' | translate}}"
      />
    </div>

    <div class="mb-3">
      <label class="form-label">{{ 'New password' | translate }}</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="user.newPassword"
        name="newPassword"
        [disabled]="!editMode"
        placeholder="{{ 'Enter your new password' | translate }}"
      />
    </div>

    <div class="mb-4">
      <label class="form-label">{{ 'Language' | translate }}</label>
      <select
        class="form-control"
        [(ngModel)]="user.language"
        name="language"
        [disabled]="!editMode"
      >
        <option value="es">{{ 'Spanish' | translate }}</option>
        <option value="en">{{ 'English' | translate }}</option>
      </select>
    </div>

    <div class="text-center">
      <button
        *ngIf="!editMode"
        type="button"
        class="btn-edit"
        (click)="editMode = true"
      >
        {{ 'Edit Profile' | translate}}
      </button>

      <div *ngIf="editMode">
        <button type="submit" class="btn-save">{{ 'Save' | translate }}</button>
        <button type="button" class="btn-cancel" (click)="cancelEdit()">{{ 'Cancel' | translate }}</button>
      </div>

      <div style="margin-top: 10px;" *ngIf="textError" class="text-danger mb-3 text-center">
        {{errorMessage | translate}}
      </div>
      <div style="margin-top: 10px;" *ngIf="textSuccess" class="text-success mb-3 text-center">
        {{ 'The profile was successfully updated.' | translate }}
      </div>
    </div>
  </form>

  <!--Seccion admin-->
  <div *ngIf="loginService.isLogged() && loginService.isRoleAdmin()" class="border rounded shadow-sm p-4 mt-5">
        
    <!-- Sección editar palabra -->
    <h2 class="text-center mb-4" style="color: #c0392b;">{{ 'Edit word' | translate }}</h2>

    <div class="form-group">
      <label class="form-label" style="font-weight: 600;"> {{ 'Enter the modified word' | translate }} </label>
      <div class="row">

        <div class="col-md-3 mb-2">
          <input 
            type="text" 
            class="form-control" 
            name="chinese"
            [(ngModel)]="editedWord.chinese"
            placeholder="{{ 'Chinese' | translate }}"
            required>
        </div>

        <div class="col-md-3 mb-2">
          <input 
            type="text" 
            class="form-control" 
            name="pinyin"
            [(ngModel)]="editedWord.pinyin"
            placeholder="Pinyin"
            required>
        </div>

        <div class="col-md-3 mb-2">
          <input 
            type="text" 
            class="form-control" 
            name="english"
            [(ngModel)]="editedWord.english"
            placeholder="{{ 'English' | translate }}"
            required>
        </div>

        <div class="col-md-3 mb-2">
          <input 
            type="text" 
            class="form-control" 
            name="spanish"
            [(ngModel)]="editedWord.spanish"
            placeholder="{{ 'Spanish' | translate }}"
            required>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button 
        (click)="editWord()" 
        class="btn-edit" 
            
        >
        {{ 'Save' | translate }}
      </button>
    </div>

    <div *ngIf="errorEditWord" class="text-danger mt-3 text-center">
      {{ 'Error editing the word.' | translate }}
    </div>

    <div *ngIf="successEditWord" class="text-success mt-3 text-center">
      {{ 'Word edited successfully.' | translate }}
    </div>
    <!-- Fin sección editar palabra -->

  </div>

  <!-- Sección borrar usuario -->
    <div *ngIf="loginService.isLogged() && loginService.isRoleAdmin()" class="border rounded shadow-sm p-4 mt-5">
      <h2 class="text-center mb-4" style="color: #c0392b;">{{ 'Delete user' | translate }}</h2>

      <div class="form-group">
        <label class="form-label" for="deleteEmail">{{ 'Email of the user to delete' | translate }}</label>
        <input
          type="email"
          class="form-control"
          id="deleteEmail"
          name="deleteEmail"
          [(ngModel)]="deleteEmail"
          placeholder="{{'Enter the email of the user to delete' | translate}}"
          required
        />
      </div>

      <div class="text-center mt-4">
        <button
          class="btn btn-danger"
          (click)="deleteUser()"
          style="padding: 10px 20px; font-size: 1rem;"
        >
          <i class="bi bi-trash"></i> {{ 'Delete user' | translate }}
        </button>
      </div>

      <div *ngIf="errorDeleteEmail" class="text-danger mt-3 text-center">
        {{ 'Error deleting the user.' | translate }}
      </div>

      <div *ngIf="successDeleteEmail" class="text-success mt-3 text-center">
        {{ 'User deleted successfully.' | translate }}
      </div>
    </div>
  <!-- Fin sección borrar usuario -->
  <!--Fin Seccion admin-->

  <div class="text-center mt-4">
    <button class="btn-back" (click)="back()">{{ 'Back' | translate }}</button>
  </div>
</div>
