<div class="container my-5" style="font-family: 'Noto Serif SC', serif;">
  <style>
    .hover-highlight:hover {
      background-color: #fdecea;
      border-radius: 4px;
      cursor: pointer;
    }

    .text-xlarge {
      font-size: 1.5rem;
      line-height: 2;
    }

    .btn-back {
      font-size: 1rem;
      color: #fff;
      background-color: #c0392b;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-back:hover {
      background-color: #e74c3c;
    }

    .pinyin-container {
      display: inline-block;
      text-align: center;
      margin-right: 15px;
    }

    .pinyin {
      font-size: 0.85rem;
      color: #7f8c8d;
      display: block;
      margin-top: 5px;
    }

    /* Eliminar los márgenes extra de las palabras */
    .word-wrapper {
      display: inline-block;
      margin-right: 15px;
    }

    /* Modales superpuestos */
    .add-word-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1050;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .add-word-modal {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      max-height: 80vh;
      overflow-y: auto;
      background-color: #fff;
      padding: 2rem;
      border-radius: 8px;
      width: 600px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      z-index: 1100;
    }

    .modal-content {
      background-color: #ffffff;
      color: #c0392b;
    }

    .modal-success {
      background-color: #ffffff;
      color: #155724;
    }

    .add-word-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      max-width: 90%;
      width: 600px;
    }

    .btn-close-top {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      color: #c0392b;
      cursor: pointer;
    }
  </style>

  <h1 class="text-center mb-5" style="font-weight: 700; font-size: 2.5rem; color: #c0392b;">
    {{ translate.currentLang === 'en' ? text.titleEnglish : text.titleSpanish }}
  </h1>

  <div class="border rounded shadow-sm p-4">
    <div class="d-flex justify-content-between mb-2 text-muted" style="font-size: 0.9rem;">
      <div>{{ text.creationDate | date:'mediumDate' }}</div>
      <div><strong>{{ 'level:' | translate }}</strong> {{ text.level }}</div>
    </div>

    <img 
      [src]="'/api/texts/' + text.id + '/image'" 
      alt="{{ translate.currentLang === 'en' ? text.titleEnglish : text.titleSpanish }}" 
      class="img-fluid rounded mb-3" 
      style="max-height: 250px; object-fit: cover;"
    >

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="toggleOriginalText" (change)="changeTranslation()" [(ngModel)]="!showOriginalText">
      <label class="form-check-label" for="toggleOriginalText">
        {{ 'See translated text' | translate }}
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="toggleSplitWords" (change)="changeSplit()" [(ngModel)]="!showTextSplitIntoWords">
      <label class="form-check-label" for="toggleSplitWords">
        {{ 'View text broken down by sentences' | translate }}
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="toggleSplitWords" (change)="changePinyin()" [ngModel]="showPinyin">
      <label class="form-check-label" for="toggleSplitWords">
        {{ 'Show Pinyin' | translate }}
      </label>
    </div>
 
    <div *ngIf="showTextSplitIntoWords">
      <div *ngIf="showOriginalText">
        <h5 class="mt-4 text-primary">{{ 'Text broken down by words' | translate }}</h5>
        <div class="text-muted my-4">
            {{ 'Click on a word to see its translation.' | translate }}
        </div>
        <p class="text-xlarge" style="white-space: pre-line;">
            <span *ngFor="let word of originalText; let i = index" >
                
                <!-- Contenedor para la palabra y su pinyin -->
                <div class="word-wrapper">
                  <span class="hover-highlight" 
                  data-bs-toggle="popover" 
                  triggers="focus" 
                  data-bs-placement="top" 
                  [attr.data-bs-content]="getPopoverHtml(i)">
                    {{ word }}
                  </span>
                  <span class="pinyin" *ngIf="showPinyin">
                    {{ wordsArray[i]?.pinyin || '--'}}
                  </span>
                </div>

            </span>
        </p>
      </div>
      <div *ngIf="!showOriginalText">
        <h5 class="mt-4 text-primary">{{'Translated text' | translate}}</h5>
        <div class="text-muted my-4">
            {{'Showing the translated text' | translate}}
        </div>
        <p class="text-xlarge" style="white-space: pre-line;">
            <span>
                {{ translate.currentLang === 'en' ? text.englishTranslation : text.spanishTranslation }}
            </span>
        </p>
      </div>
    </div>

    <div *ngIf="!showTextSplitIntoWords">
      <h5 class="mt-4 text-success">{{ 'Text broken down by sentences' | translate }}</h5>
      <div class="text-muted my-4">
          {{ 'Click on a sentence to see its translation.' | translate }}
      </div>
      <p *ngIf="showOriginalText" class="text-xlarge" style="white-space: pre-line;">
          <span 
            *ngFor="let sentence of originalTextSeparatedBySentences; let i = index" 
            class="hover-highlight"
            data-bs-toggle="popover" 
            triggers="focus" 
            data-bs-placement="top" 
            [attr.data-bs-content]="getTooltipHtmlOriginal(i)">
              {{ sentence }}
          </span>
      </p>

      <p *ngIf="!showOriginalText" class="text-xlarge" style="white-space: pre-line;">

        <!-- Español -->
        <ng-container *ngIf="translate.currentLang === 'es'">
          <span 
            *ngFor="let sentence of translatedSpanishTextSeparatedBySentences; let i = index" 
            class="hover-highlight"
            data-bs-toggle="popover" 
            triggers="focus" 
            data-bs-placement="top" 
            [attr.data-bs-content]="getTooltipHtml(i)">
              {{ sentence }}
          </span>
        </ng-container>

        <!-- Inglés -->
        <ng-container *ngIf="translate.currentLang === 'en'">
          <span 
            *ngFor="let sentence of translatedEnglishTextSeparatedBySentences; let i = index" 
            class="hover-highlight"
            data-bs-toggle="popover" 
            triggers="focus" 
            data-bs-placement="top" 
            [attr.data-bs-content]="getTooltipHtml(i)">
              {{ sentence }}
          </span>
        </ng-container>

      </p>

    </div>

    <div class="text-center mt-4">
      <button class="btn-back" (click)="back();">{{ 'Back' | translate }}</button>
    </div>
  </div>

  <!-- Modal de Error -->
  <div class="add-word-overlay" *ngIf="showErrorModal">
    <div class="add-word-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{ 'Error' | translate }}</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorModal()"></button>
        </div>
        <div class="modal-body">
          <span style="color: #c0392b;">{{ errorMessage }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Éxito -->
  <div class="add-word-overlay" *ngIf="showSuccessModal">
    <div class="add-word-modal">
      <div class="modal-content modal-success">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">{{ 'Success' | translate }}</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessModal()"></button>
        </div>
        <div class="modal-body">
          <span style="color: #155724;">{{ successMessage }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección Modal para agregar palabra -->
  <div class="add-word-overlay" *ngIf="showAddWordSection"></div>
  <div class="add-word-modal" *ngIf="showAddWordSection">
    <button class="btn-close-top" aria-label="Cerrar" (click)="initAddWordSection()">&times;</button>

    <h1 class="text-center mb-5" style="font-weight: 700; font-size: 2.5rem; color: #c0392b;">
      {{ 'My collections:' | translate }}
    </h1>

    <div class="text-center my-4">
      {{ 'Choose the collection where you want to save' | translate }} '{{wordToAdd}}'.
    </div>

    <div *ngFor="let collection of collections" class="border rounded shadow-sm mb-4 p-4" style="cursor: pointer;" (click)="saveWordToCollection(collection.id, wordToAdd)">
      <div class="d-flex justify-content-between mb-2 text-muted" style="font-size: 0.9rem;">
        <div><strong>{{ 'Created:' | translate }}</strong> {{ collection.date | date: 'MMM d, yyyy' }}</div>
      </div>
      <h3 class="mb-0 text-dark fw-semibold">{{ collection.title }}</h3>
    </div>
  </div>
</div>
