<html>
    <body>

        <h1>Text page</h1>

        <form action="/newText" method="POST">

            <label for="title">Title:</label>
            <input id="title" name="title" type="text" required>

            <label for="text">Text:</label>
            <input id="text" name="text" type="text" required>

            <label for="translation">Translation:</label>
            <input id="translation" name="translation" type="text" required>

            <button type="submit">Submit text</button>
        </form>

    </body>
</html>